<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.diva-e.com/fileadmin/templates/fluid/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1><%= htmlWebpackPlugin.options.pageTitle %></h1>
    <h2><%= htmlWebpackPlugin.options.challengeTitle %></h2>

    <div id="artwork-border">
      <div id="artwork-wrapper" style="height: 842px; width: 596px;">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="842" width="596" fill="#f5f5f5">
          <rect x="0" y="0" height="842" width="596"/>
        </svg>
      </div>
    </div>

    <div id="credits">
      <div class="block">
        <label class="title">title of your artwork</label>
        <label class="artist">your name</label>
      </div>
    </div>

  </body>
</html>